# Raw and processed datasets
# data/raw/*.csv
# data/processed/*.csv

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/

# Environment variables
.env